<!-- Why Choose Us -->
	<div id="{{block_id}}" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">{{header}}</h2>
					</div>
					<p>{{text}}</p>
			{{#each_with_sort about "order"}}
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>{{text}}</p>
					</div>
    {{/each_with_sort}}

				</div>
				<!-- /why choose us content -->

				<!-- About slider -->

				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

